h1{
    
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 1200px;
    height: 150px;
}
body {
    background-color:#3f3f3f;
    color: white;
}
li{  text-align:left;}